<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.numberapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NumberApp">
        <activity android:name=".Then"></activity>
        <activity android:name=".Nayn" />
        <activity android:name=".Eich" />
        <activity android:name=".Seven" />
        <activity android:name=".Six" />
        <activity android:name=".Fif" />
        <activity android:name=".Fo" />
        <activity android:name=".Frea" />
        <activity android:name=".Twoo" />
        <activity android:name=".One" />
        <activity android:name=".Nulles" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NumberApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>